
.imgp{
	  /* margin-top: 77px; */
        z-index:  99999;
        padding: 10px;
        position: absolute;
}
.mobj{
	width: 72px; 
	height: 72px;
}
.buyb{
	background-color: #414251!important;
}

.carrouselP{
	max-height: 700px;
}

.bgpi{
background-color: #2f3141;
}
.gallery {
-webkit-column-count: 5;
-moz-column-count: 5;
column-count: 5;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

<<<<<<< Updated upstream
@media (max-width: 350px) {
=======
@media (max-width: 950px) {
	.d-block {
    display: block !important;
    max-width: 850px;
}	
}

@media (max-width: 750px) {
	.d-block {
    display: block !important;
    max-width: 550px;
}
	
}
@media (max-width: 550px) {
	.d-block {
    display: block !important;
    max-width: 450px!important;
}
	
}
@media (max-width: 400px) {
	.d-block {
    display: block !important;
    max-width: 310px!important;
}
	
}
@media (max-width: 990px) {
.navimg{
	opacity: 0;
}	
}
	
	
@media (max-width: 650px) {
>>>>>>> Stashed changes
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 300px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}



@media screen and (max-width:991px){
 
  body .nav-img{display:none;}
  header a.menu-mobile {display:block;}
}

.inline{
  float:left
  display: inline;
}

.navbar{
	background-color: rgba(18,20,37,0.89);
}
.Navcont {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}
.Navcont .navsearch {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: lightblue;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.Navcont .navsearch:hover {
  cursor: pointer;
}
.Navcont .navsearch::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}
.Navcont .navsearch::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}
.Navcont input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #313448;
  color: white;
  text-shadow: 0 0 10px black;
  padding: 0 60px 0 8px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #003f88, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.Navcont input:hover {
  cursor: pointer;
}
.Navcont input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.Navcont input:focus ~ .navsearch {
  right: -250px;
  background: rgba(18,20,37);
  z-index: 6;
}
.Navcont input:focus ~ .navsearch::before {
  top: 0;
  left: 0;
  width: 25px;
}
.Navcont input:focus ~ .navsearch::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.Navcont input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}




.titulo{
	color: #7d82a9;
	text-shadow: 1px 1px #000000;
	font-family: 'Inconsolata', monospace;
	font-weight: bolder;
  font-size:30px;
  padding-top: 40px;
}

.inline{
  display: inline;
}
 .middle{
  padding-top: 20px;
 }

 .usrpic{
 width: 60px;
 }