body{ 
color: #ffff;
background-color: #1e1f29;
}
p{
color: #ffff;
}
strong{
	color: #ffff!important;
}
b{
	color: #ffff!important;
}
a{
	color: #ffff!important;
}
.dropdown-menu {
    background-color: #2b2d3c73!important;
}

.titulo {
    color: #7d82a9;
    text-shadow: 1px 1px #000000;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 40px;
}

.trash-color {color: red;}
        .bt {
            width: 50%;
        }
        .upload {
            margin: 20px;
            width: 400px;
            height: 8px;
            position: relative;
        }
        .pad {
            background-image: url("{{($user->foto_capa == 'images/empty-background.jpg' ? asset($user->foto_capa) : Storage::url($user->foto_capa))}}");
        }
.inline{
    float:left
    display: inline;
}

.navbar{
    background-color: rgba(18,20,37,0.89);
}
.Navcont {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
}
.Navcont .navsearch {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: lightblue;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.Navcont .navsearch:hover {
    cursor: pointer;
}
.Navcont .navsearch::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
}
.Navcont .navsearch::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
}
.Navcont input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #313448;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 0 60px 0 8px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #003f88, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
.Navcont input:hover {
    cursor: pointer;
}
.Navcont input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}
.Navcont input:focus ~ .navsearch {
    right: -250px;
    background: rgba(18,20,37);
    z-index: 6;
}
.Navcont input:focus ~ .navsearch::before {
    top: 0;
    left: 0;
    width: 25px;
}
.Navcont input:focus ~ .navsearch::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}
.Navcont input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}


.menu {
    font-size: 15px;
}
.scrollable-menu {
  height: auto;	
  max-height: 400px;
  overflow-x: hidden;
}
.cart{
  
  width: 800px;	
  height: auto;
  overflow-x: hidden;
}

.large-select {
    width: 200px;
}