.none {
    display:none;
}




/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: SourceSansPro-Regular;
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.ttf'); 
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url('../fonts/source-sans-pro/SourceSansPro-Bold.ttf'); 
}

@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url('../fonts/source-sans-pro/SourceSansPro-SemiBold.ttf'); 
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
body {
	background-image:bg-01.jpg;

	
}
.none {
    display:none;
}
.navbar {
    background-color: rgba(18,20,37,0.89);
    float: right;
    list-style: none;
}
	
.bg{
	
	width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;

 
}

.bg::before {
    content: "";
    
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, #7fddcc70, #00408585);
    background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    pointer-events: none;
}
.navbar li a {
    color: antiquewhite;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.box {
  width: 100%;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
}
.bg{
	
	padding-top:100px
}
.form-group{
	width:120%;
}
.form-Center{
 font-weight:bold;
}

.background-la {
  background-color: #2a2d3d!important;
}
.cart{
background:#fff!important;
}